body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
}

header {
    background: #005e80;
    color: white;
    padding: 20px 40px;
    text-align: center;
}

nav {
    background: #005e80;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    width: 100%;
    height: 260px;
    background-image: url("images/pu-fest-banner.png");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}




.hero p {
    font-size: 22px;
    color: #333;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}


.section {
    padding: 40px 60px;
    text-align: center;
}

.video-container {
    width: 300px;
    height: 530px;
    margin: 20px auto; /* may space sa taas and center */
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid #005e80; /* optional: shape looks cleaner */
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#events {
    margin-top: 40px; /* para may space from banner */
}


.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


.gallery {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.photo-box {
    width: 250px;
    height: 200px;
    background-size: cover;   /* para sakto yung fit */
    background-position: center; /* hindi distorted */
    background-repeat: no-repeat;
    border-radius: 6px;
}



footer {
    background: #005e80;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
